<%inherit file="/base.html"/>

<%block name="content">
<div id="app" class="app" v-cloak>
    <div>
        <i-select v-model="select_id">
            <i-option v-for="ip in ip_list" :value="ip.id">{{ ip.ip }}</i-option>
        </i-select>
    </div>
    <div id="charts">
        <div v-for="chart in chart_selectors" :id="chart"
             style="width: 600px; height: 300px; display: inline-block"></div>
    </div>
</div>
<style>
    [v-cloak] {
        display: none !important;
    }
</style>
</%block>
<script src="${STATIC_URL}conf/conf.js"></script>
<script src="${STATIC_URL}conf/bk_echart.js"></script>
<script>
    vm = new Vue({
        el: '#app',
        data() {
            return {
                select_id: '',
                ip_list: [],
                chart_selectors: []
            }
        },
        watch: {
            select_id: function (nval, oval) {
                this.get_chart();
            }
        },
        mounted() {
            this.$http.get('list_monitor_host').then(res => {
                 if (res.result) {
                        this.ip_list = res.data
                    } else {
                        this.$Message.error(res.message)
                    }
            })
        },
        methods: {
            init_chart_selectors(selectors, chart_data) {
                for (let i = 0; i < chart_data.length; i++) {
                    selectors.push("chart" + i)
                }
            },
            render_chart(type, selectors, data) {
                this.init_chart_selectors(selectors, data);
                setTimeout(() => {
                    createCharts(type, selectors, data)
                }, 300);
            },
            get_chart() {
                if (this.select_id == undefined || this.select_id == null) {
                    this.$Message.error('请选择主机');
                    return false;
                }
                this.$http.post('get_chart', {id: this.select_id}).then(res => {
                     if (res.result) {
                        this.render_chart('line', this.chart_selectors, res.data);
                    } else {
                        this.$Message.error(res.message)
                    }

                })
            }
        },
    })
</script>
<style>
    .app {
        padding: 10px !important;
        overflow: hidden;
    }
</style>